.header {
  width: 100%;
  height: 12vh;
  position: fixed;
  top: 0;
  background-color: #F6F5F0;
  border-bottom: 2px solid #c8c8c8;
}

.logo {
  width: 120px;
  margin: 30px;

  border-radius: 50%;
}


.navigation {
  display: flex;
  float: right;
  margin: 50px;
}

.nav-link{
  text-decoration: none; /* 링크 밑줄 제거 */
  color: inherit; /* 링크 색상 제거 */
}

.nav-item {
  text-align: center;
  list-style: none;
  font-size: 40px;
  font-weight: bolder;
  color: #000;
}

.nav-item:hover{
  background-color: #F6F5F0;
  color:#c8c8c8;
}

.nav-menu {
  display: flex;
  column-gap: 30px;
  height: 100%;
}